<header
  #navigation
  (scroll)="onScroll()"
  [ngClass]="colorHeader? 'color':'noColor'"
>
  <div class="logo">
    <a href="/home">
      <img
        class="light"
        aria-hidden="true"
        src="/assets/images/logo-light.png"
        decoding="async"
        alt="logo"
        width="221"
        height="66"
        *ngIf="!colorHeader && !phoneView"
      />
      <img
        class="light"
        aria-hidden="true"
        src="/assets/images/logo-blue.png"
        decoding="async"
        alt="logo"
        width="221"
        height="66"
        *ngIf="colorHeader || phoneView"
      />
    </a>
  </div>
  <div class="navigation">
    <ul class="navList" *ngIf="!phoneView">
      <li>
        <span
          ><a href="/home" [ngClass]="colorHeader? 'color':'noColor'"
            >Home</a
          ></span
        >
      </li>
      <li>
        <span
          ><a (click)="scroll(about)" [ngClass]="colorHeader? 'color':'noColor'"
            >About us</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="/contact" [ngClass]="colorHeader? 'color':'noColor'"
            >Contact</a
          ></span
        >
      </li>
    </ul>
    <!--Mobile Nav toggle-->
    <button
      class="hamburger-menu"
      (click)="dropDownMenu(ham)"
      #ham
      *ngIf="phoneView"
    >
      <span aria-hidden="true"></span>
    </button>
  </div>
</header>
<div class="navListMenu" *ngIf="showDropDown">
  <ul class="navListPhone">
    <li><a href="/home">Home</a></li>
    <li><a (click)="scroll(about)">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
<section id="hero">
  <div class="hero-content">
    <div class="heroText">
      <h1 id="home-h" class="home-h">
        Limerick Bar Staff On Demand
      </h1>
      <p>
        Are you short on bar staff needed to operate your business? Give us a
        call and we will send experienced bar staff at a moments notice!
      </p>
      <a class="button-6" href="tel:0838689176">CALL NOW</a>
    </div>
  </div>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.jpg"
      alt="new home"
    />
  </picture>
</section>
<app-services></app-services>
<app-about id="about" #about></app-about>
