<section id="sidebyside" class="sidebyside">
  <div class="container">
    <div class="content">
      <h2 class="title">
        Professional hard working staff on demand!
      </h2>
      <p>
        Many businesses are dealing with staff shortages since 2020 and are
        having to close early causing them to lose out on much needed business.
        We are a team of hard working former and current bar staff looking to
        work some extra hours helping businesses to stay open and capitalise on
        sales. We will send hard working experienced bar staff to ensure you do
        not miss out on business because of unforseen circumstances.
      </p>
      <p>
        <strong>Quality Business Partners:</strong>
      </p>
      <ul>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>High Quality, hard working staff</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>Fast Response Time</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>Long term solutions </span>
        </li>
      </ul>

      <p>
        Get in contact with us and we will provide straight forward quick
        responses to solve your urgent issues and provide a long term business
        solution to cater for your needs.
      </p>
      <a class="button-6" href="/about.html">Contact Us</a>
    </div>
    <picture class="image-box">
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/cabinets2-m.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/cabinets2.jpg"
      />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/images/cabinets2.jpg"
        alt="cabinets"
        width="400"
        height="662"
      />
    </picture>
  </div>
</section>
