<section class="services">
  <div class="serviceKeywords">
    <div class="serviceCard">
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/service3.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Short Staff?</h2>
        <p>
          You may find yourself short-staffed on short notice.
        </p>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/phone.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Call Us</h2>
        <p>
          Call us and let us know how many staff you need and we can arrange to
          send you out much needed help.
        </p>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/cash.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Keep Your Business Open</h2>
        <p>
          Keep your business open and don't miss out on sales during busy
          nights.
        </p>
      </div>
    </div>
  </div>
</section>
