<section class="call-to-action" id="cta">
  <div class="container">
    <h2 class="title">
      Never be <br />
      Short-Staffed Again
    </h2>
    <p>
      Get in contact with us to book staff or to ask us questions
    </p>
    <a href="/contact.html" class="button-6">Contact Us</a>
  </div>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/cabinets2-m.webp"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="kitchen cabinets"
      width="1920"
      height="1280"
    />
  </picture>
</section>
